Package: org.brandonplank.flappybird
Name: Flappy Bird
Version: 1.7
Architecture: iphoneos-arm
Description: A Flappy Bird clone that runs on the latest iOS!
Maintainer: Brandon Plank
Author: Brandon Plank
Section: Games
SileoDepiction: https://repo.brandonplank.org/depictions/com.brandonplank.flapp/flappybird.json
