Package: com.brandonplank.flapp
Name: Flappy Bird
Version: 1.4
Architecture: iphoneos-arm
Description: A Flappy Bird clone that runs on the latest iOS
Maintainer: Brandon Plank
Author: Brandon Plank
Section: Games
Tag: role::hacker
